body{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
  width: 100%;
  background-color:#e8e9eb;
  padding: 20px 0 10px 0;
  color: #c8c9cc;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

footer p {
  text-align: center;
}

.card {
  float: left;
  padding-left: 15px;
  padding-bottom: 20px;
}

.container {
  overflow: hidden;
}
